# =========================================================================
# REIO SYSTEMS — ENTERPRISE PROJECT R&D CLEANUP FILTER
# =========================================================================

# AMD/Xilinx Vivado Temporary Outputs & Caches
*.log
*.jou
*.str
.Xil/
vhdlnsim.sah
work/
xsim.dir/
xsim.ini
.analytics/
*.ppx
*.bak

# Rust Cargo Compilation & Dependency Artifacts
/target/
Cargo.lock
**/*.rs.bk

# Local OS Files
Thumbs.db
.DS_Store

# Bloquer les fichiers sources matériels et logiciels secrets
*.vhd
*.v
*.sv
*.rs
Cargo.lock
target/

# Block Vivado interface local files
*.xpr
reio_chain_l3.srcs/
reio_chain_l3.sim/
reio_chain_l3.hw/
reio_chain_l3.cache/
reio_chain_l3.runs/
