# Vivado Directory Clean-up
*.log
*.jou
*.str
.Xil/
vhdlnsim.sah
work/
xsim.dir/
xsim.ini
sim_1/

# Rust / Cargo Compilation Outputs
/target/
**/*.rs.bk
Cargo.lock

# Operating System Files
Thumbs.db
.DS_Store
