# =========================================================================
# REIO SYSTEMS — ENTERPRISE PROJECT R&D CLEANUP FILTER
# =========================================================================

# AMD/Xilinx Vivado Temporary Outputs & Caches
*.log
*.jou
*.str
.Xil/
vhdlnsim.sah
work/
xsim.dir/
xsim.ini
.analytics/
*.ppx
*.bak

# Rust Cargo Compilation & Dependency Artifacts
/target/
Cargo.lock
**/*.rs.bk

# Local OS Files
Thumbs.db
.DS_Store
